body{
    font-family: 'Times New Roman', sans-serif;
    color: black;
}
#wrap{
    width: 960px; 
    margin: auto;
    background: #DCDCDC;
    padding: 10px; 20px;
    }
header h1{
    text-align: center;
}   
header nav ul{
    list-style: none; 
    padding-left: 0px;
}
header nav ul li{
    display: inline-block;
    margin-right: 10px;
}
header nav ul li a{
    font-size: 19px;
    color: #ff6600;
    text-decoration: none; 

}
header nav ul li a:hover{
    text-decoration: underline;
}
#primeira{
   width: 660px;
   font-family: Tahoma, sans-serif   
}
#sidebar{
    background: #ff6600;
    font-family: Tahoma, sans-serif; size: 100px;
    
}
aside ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    
    

}
aside ul li a{
    font-family: Arial, sans-serif; 
    color: black;
    font-size: 18px;
    text-decoration: none;
    

}
aside ul li a:hover{
    text-decoration: underline;
}
footer a{
      color: black;
      background: #ff6600;
}
footer ul li {
    list-style: none;
   
}
footer ul li a{
    text-decoration: none;
    background: #DCDCDC
}

footer div{
    background: black;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #DCDCDC;
    
}
label{
    display: block;
}