/* a{
    color: red; 
} */
.bundaazul{
    color:blue;
    

}
.bundarosa{
    color:pink;
    text-decoration:none; 
    font-size: 100px; 
    font-family: italic, Helvetica, sans-serif;
    

}
.aclasseporra{
    color: purple;
  
}


